// VARIABLES

$white: #ffffff;
$black: #000000;
$dark: #0F172A;
$dark_light: #8E959F;
$grey: #E1E7EF;
$grey_light: #F7F8FA;
$green: #1C7D41; 
$red_dark: #900B09;

$raduis: 8px;
$transition: all .3s ease-out;
